:root{
    --cor-primaria: hsl(158, 36%, 37%);
    --cor-secundaria: hsl(30, 38%, 92%);
    --cor-escura: hsl(212, 21%, 14%);
    --cor-media: hsl(228, 12%, 48%);
    --cor-clara: hsl(0, 0%, 100%);
    --cor-extra: hsl(159, 32%, 23%);
}

